/* 
.h1 {
    text-decoration: line-through;
    font-size: 40px;
    font-style: italic;
    color: yellow;
    text-shadow: 10px -40px 3px blue;
    text-align: center;
}

.h3{
    font-family: Verdana;
}

.container{
    background-color: brown;
    color: white;
    padding: 20px;
}
.container1{
    background-color: blue;
    padding: 20px;
    margin-top: 20px;
    border: 12px solid black;
    box-shadow: 10pt 40pt rgb(16, 1, 1);
    border-radius: 20px;
    
} */


/* flax box */
/* 
.parent{
    display: flex;
    justify-content: space-evenly;
}

.main{
    height: 200px;
    width: 200px;
    background-color: beige;
    border: 2px solid black;
    
} */

/* .parent{
    display: flex;
    background-color: rgb(51, 35, 72);
    justify-content: space-around;
    flex-wrap: wrap;

}
.main{
    color: white
} */
/* @media screen and (max-width: 600px){
    .parent{
     background-color: aqua;
    } 
}
@media screen and (min-width: 600px){
    .parent{
     background-color: rgb(187, 0, 255);
    } 
} */

/* .h1{
    font-size: 60px;
}
.img{
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 500px){
    .img{
     display: none;
    } 
    .btn{
        padding: 20px;
    }
} */

/* @media screen and (min-width: 400px) and (max-width: 700px){
    .parent{
     background-color: rgb(0, 255, 64);
    } 
} */


/* body{
   margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    
   
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar ul li {

   
    color: white;
    padding: 5px;
    border-radius: 6px;
}

.navbar label {
    display: none;
}
#click {
    display: none;
}

#click:checked~.navbar ul {
    display : block;
}
@media  screen and (max-width: 600px) {
    .navbar label{
        display : block;
    }
    .navbar ul {
        display: none;
        position: absolute;
        top: 60px;  
        background-color: antiquewhite;
        width: 100%;
    }
    .navbar ul li {
       
        padding: 10px;
        border-radius: 0;
        color: black;
        box-shadow: 0px 0px 5px black;
   
   
    }

} */


  /* bookmark */

 /* html{
    scroll-behavior: smooth;
}

.head{
    background-color: rgb(152, 97, 26);
    color: white;
    padding: 20px;
}  */


/* .icon{
    font-size: 500px;
} */

/* .head{
    font-family: "Tagesschrift", system-ui;
}
.head1{
    font-family: "Noto Sans JP", sans-serif;
} */
/* .section{
    background-color: red;
    height: 400px;
}

.child{
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: relative;
    top: 30px;
    left: 30px;
} */


/* // responsive */

/* grid */

/* .wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat( 2, auto); 
    gap: 10px;

    
}

.wrapper div{
    background-color: rgb(255, 0, 0);
   
   border : 2px solid black;

}
 .wrapper .ch1 {
    grid-column-start: 1;
    grid-column-end: 4;
   
 }
 .wrapper .ch2{
    grid-row-start: 2;
    grid-row-end: 4;
 }
 
 .wrapper .ch5 {
    grid-column-start: 2;
    grid-column-end: 4;
   
 }

 .wrapper .ch7 {
    grid-column-start: 1;
    grid-column-end: 4;
   
 } */
/* body {
    margin: 0;
    padding: 0;
}
 .hero {
   
    background-image: url("https://images.unsplash.com/photo-1536323760109-ca8c07450053?q=80&w=2565&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    background-position: center;    
    background-attachment: fixed;
    background-size: cover;
   
 }
.content {
    position: absolute;
    margin-top: 250px;
}

.content h1{
    color: white;
    font-size: 40px;
    margin-left: 100px;
   
}
.content p{
    color: white;
    font-size: 20px;
    margin-left: 100px;
    
}

.content button{
    color: rgb(54, 59, 141);
    font-size: 20px;
    margin-left: 100px;
    
} */

.box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: red;
    border-radius: 10px;
    animation-name: slider;
    animation-duration: 2s;
    animation-iteration-count: one;
    animation-timing-function: ease-out;
}

@keyframes slider{
    0%{
        top:0;
        left:-400;
       
        animation-duration: 4s;

    }50%{
        top:0px;
        left:-400px;
        animation-duration: 2s;
     
      
    }100%{
        top:200px;
        left:-400px;
        animation-duration: 1s;
       
    }
}