<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
        
        
     <a href="/student/home">home</a>
     <a href="/student/about">About</a>
     <a href="/student/subject">subject</a>
     <a href="/student/joinUs">joinUs</a>
     <a href="/student/contact">contact</a>

     <h1>Student about form</h1>
     <form action="/student/save" method="post">
        Enter name: <input type="text" name="list[name]"> <br>
        Enter city: <input type="text" name="list[city]"> <br>
        Enter fees: <input type="number" name="list[fees]"> <br>
        Enter phone: <input type="number" name="list[phone]"> <br>
        <button>save!!</button>
     </form>

     <hr font-size="5px" color="black">
</body>
</html>