<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit form</h1>
         <form action="/student/save" method="post">
        Enter name: <input type="text" name="<%=Data.name%>"> <br>
        Enter city: <input type="text" name="list[city]"> <br>
        Enter fees: <input type="number" name="list[fees]"> <br>
        Enter phone: <input type="number" name="list[phone]"> <br>
        <button>save!!</button>
     </form>
</body>
</html>