<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
     <h1>welcome to home page</h1>
     <a href="/student/home">home</a>
     <a href="/student/about">About</a>
     <a href="/student/subject">subject</a>
       <a href="/student/joinUs">joinUs</a>
     <a href="/student/contact">contact</a>
       <a href="/student/infostu">info</a>

     <hr font-size="5px" color="black">
</body>
</html>