<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>join us page</h1>
    <a href="/student/home">home</a>
     <a href="/student/about">About</a>
     <a href="/student/subject">subject</a>
     <a href="/student/joinUs">joinUs</a>

     <a href="/student/contact">contact</a>
</body>
</html>