<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Empoloyee contct page</h1>
    <a href="/employee/name">name</a>
    <a href="/employee/compony">compony</a>
    <a href="/employee/contact">contact</a>
</body>
</html>